In [3]:
import pandas as pd

# Reading Data

In [4]:
df=pd.read_csv('data.csv')

In [5]:
df.head()

        fever  bodyPain  age  runnyNose  diffBreath  infectionProb
0   98.438302         1   89          1          -1              1
1   99.931067         1    9          0           0              0
2  100.582502         1   60          0           1              1
3  101.312631         0   40          0          -1              0
4   98.221202         1   61          1           0              0

In [6]:
df.tail()

           fever  bodyPain  age  runnyNose  diffBreath  infectionProb
2570  100.714324         0   20          0           0              1
2571  101.022164         0   20          1          -1              0
2572  100.207027         0   30          0           0              1
2573   98.464686         1   10          1          -1              0
2574   99.924454         1    4          0          -1              1

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2575 entries, 0 to 2574
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   fever          2575 non-null   float64
 1   bodyPain       2575 non-null   int64
 2   age            2575 non-null   int64
 3   runnyNose      2575 non-null   int64
 4   diffBreath     2575 non-null   int64
 5   infectionProb  2575 non-null   int64
dtypes: float64(1), int64(5)
memory usage: 120.8 KB

In [8]:
df['fever'].value_counts()

100.048619    1
100.362055    1
101.339538    1
98.001273     1
100.274325    1
             ..
101.429474    1
101.254900    1
99.495947     1
98.135685     1
98.687879     1
Name: fever, Length: 2575, dtype: int64

In [9]:
df['diffBreath'].value_counts()

 0    911
-1    847
 1    817
Name: diffBreath, dtype: int64

In [10]:
df.describe()

,fever,bodyPain,age,runnyNose,diffBreath,infectionProb
count,2575.000000,2575.000000,2575.000000,2575.000000,2575.000000,2575.000000
mean,99.961919,0.502136,50.865243,0.495922,-0.011650,0.497864
std,1.171543,0.500093,28.883109,0.500080,0.803946,0.500093
min,98.000801,0.000000,1.000000,0.000000,-1.000000,0.000000
25%,98.942636,0.000000,26.000000,0.000000,-1.000000,0.000000
50%,99.923709,1.000000,51.000000,0.000000,0.000000,0.000000
75%,100.976319,1.000000,76.000000,1.000000,1.000000,1.000000
max,101.996838,1.000000,100.000000,1.000000,1.000000,1.000000

# Train Test Splitting

In [26]:
import numpy as np

In [27]:
def split(data,ratio):
    np.random.seed(42)
    shuffled=np.random.permutation(len(data))
    test_set_size=int(len(data)*ratio)
    test_indices=shuffled[:test_set_size]
    train_indices=shuffled[test_set_size:]
    return data.iloc[train_indices],data.iloc[test_indices]

In [28]:
np.random.permutation(7)

array([4, 3, 2, 1, 6, 0, 5])

In [29]:
train,test=data_split(df,0.2)

NameError: name 'data_split' is not defined